* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #0f0f17, #1b1b2f);
    overflow-x: hidden;
}
#navbar {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
}

#navbar button {
    background: linear-gradient(45deg, #ff0099, #493240);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: transform 0.3s ease, background 0.3s ease;
}

#navbar button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #ff0099, #6e004a);
}

/* Sections */
.section {
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fadeIn 1.5s ease forwards;
}

.section.active{
    display: flex;
}

#home {
    background: url(images/kevin-laminto-7PqRZK6rbaE-unsplash.jpg) no-repeat center/cover;
    padding-bottom: 20px;
}   

#rules {
    background: linear-gradient(to bottom, #1b1b2f, #162447);
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px 0;
    font-size: 1.2rem;
}
.section.active2{
    display: flex;
    justify-content: left;
    gap: 30px;
}
.section.active3{
    display: flex;
    justify-content: right;
    gap: 30px;
}
.section.active4{
    display: flex;
    justify-content: left;
    gap: 30px;
}
.section.active5{
    display: flex;
    justify-content: right;
    gap: 30px;
}
.section.active6{
    display: flex;
    justify-content: left;
    gap: 30px;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes neonGlow {
    0%, 100% {
        text-shadow: 0 0 5px currentColor, 0 0 10px currentColor, 0 0 20px currentColor, 0 0 40px currentColor;
    }
    50% {
        text-shadow: 0 0 10px currentColor, 0 0 20px currentColor, 0 0 50px currentColor, 0 0 80px currentColor;
    }
}

.neon-text {
    animation: neonGlow 2s infinite;
}